* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
    margin: auto;
    width: 480px;
}

button{
    border-radius: 20px;
    border: none;
}

.btn-none{
    background-color: transparent;
    border: none;
    color: white;
}

.btn-white{
    padding: .5rem;
}

nav{
    background-color: rgb(0, 114, 218);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

img{
    width: 100%;
}

.square{
    background-color: rgb(181, 221, 255);
    border-radius: 10px;
    padding: 2rem;
}

.plan-container{
    background-color: rgb(151, 146, 228);
}

.development-container{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 2rem;
}

.benefits-container{
    background-color: rgb(151, 146, 228);
}

.benefits-container .container .row-1 .card,
.benefits-container .container .row-2 .card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.card>img,
.aboutus-container .container .col-2 img{
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.getstarted-container{
    background-color: rgb(151, 146, 228);
    color: white;
}
.getstarted-container h1{
    color: rgb(253, 193, 95);
}

a{
    color: white;
}