* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
    margin: auto;
    width: 90%;
}

button{
    border-radius: 20px;
    border: none;
}

.btn-none{
    background-color: transparent;
    border: none;
    color: white;
}

.btn-white{
    padding: .5rem;
   
}

.btn-blue{
    background-color: rgb(0, 114, 218);
    color: white;
    border-radius: 20px;
}

.btn-purple-black{
    border-radius: 50%;
    background-color: rgb(151, 146, 228);
    padding: 1rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}





nav{
    background-color: rgb(0, 114, 218);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}




img{
    width: 100%;
}


.appstore-container{
    margin: 2rem 0;
}

.row-1 .square,
.row-2 .square{
    margin: 2rem 0;
}

.square{
    background-color: rgb(181, 221, 255);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
}

.square i,
.square h4{
    color: rgb(0, 114, 218);
}







.plan-container{
    background-color: rgb(151, 146, 228);
}

.plan-container .col-1{
    color: white;
    margin: 2rem 0;

}

.plan-container .col-2{
    text-align: center;
    margin: 2rem 0;
}

.plan-container .container {
    padding: 2rem 0;
}




.expert-container .card-container .card,
.expert-container h2,
.expert-container p{
    margin: 2rem 0;
}

.expert-container .card-container .card{
    background-color: rgb(151, 146, 228);
    padding: 2rem;
    border-radius: 20px;
    color: white;
    text-align: center;
}




.development-container{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 2rem;
}

.benefits-container{
    background-color: rgb(151, 146, 228);
}

.benefits-container .container .row-1 .card,
.benefits-container .container .row-2 .card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 2rem 0;
    padding: 2rem;
}

.benefits-container .container{
    padding: 2rem 0;
}

.card>img,
.aboutus-container .container .col-2 img{
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.getstarted-container{
    background-color: rgb(151, 146, 228);
    color: white;
}
.getstarted-container h1{
    color: rgb(253, 193, 95);
}

a{
    color: white;
}